<div class="jumbotron">
    <h2>API Reference</h2>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>
                    /api/Titles/
                </td>
                <td>
                    Returns all titles.
                </td>
            </tr>
            <tr>
                <td>
                    /api/Titles/Get/<b>TitleId</b>
                </td>
                <td>
                    Returns a single title by <b>TitleId</b>.
                </td>
            </tr>
            <tr>
                <td>
                    /api/Titles/Search/<b>TitleName</b>
                </td>
                <td>
                    Returns titles where the TitleName is like <b>TitleName</b>
                </td>
            </tr>
        </table>
    </div>
</div>
