﻿<div class="jumbotron">
    <h2>Coding Challenge</h2>
    <p>
        This is a web applciation written for the Turner coding challenge. 
        Technologies Used:
        <ul>
            <li>MongoDB</li>
            <li>WebAPI</li>
            <li>AngularJS</li>
            <li>Bootstrap</li>
        </ul>
    </p>
</div>
<div class="row">

</div>
