﻿<div class="panel panel-default">
    <div class="panel-heading">{{title.TitleName}} ({{title.ReleaseYear}})</div>
    <div class="panel-body">
        <div id="releaseDate" style="width: 100%; margin-bottom: 10px;">
            <span style="font-weight: bold;">Release Year: </span>{{title.ReleaseYear}}
        </div>
        <!--Attempt to *unubtrusively* call out to IMDB api and grab a poster image based on the titleName-->        
        <div id="posterImg_{{title.TitleId}}" ng-show="{{showPoster}}" style="margin-bottom: 10px;">      
                <i ng-show="{{posterURL == ''}}" class="fa fa-3x fa-gear faa-spin animated"></i>
        </div>
        <ul class="nav nav-pills">
            <li><a class="btn expandbtn" href="#storylines_{{title.TitleId}}" data-toggle="tab">Plot</a></li>
            <li><a class="btn expandbtn" href="#participants_{{title.TitleId}}" data-toggle="tab">Cast</a></li>
            <li><a class="btn expandbtn" href="#awards_{{title.TitleId}}" data-toggle="tab">Awards</a></li>
            <li><a class="btn expandbtn" href="#genres_{{title.TitleId}}" data-toggle="tab">Genres</a></li>
            <li><a ng-show="{{title.Keywords.length > 0}}" class="btn expandbtn" href="#keywords_{{title.TitleId}}" data-toggle="tab">Keywords</a></li>
        </ul>
        <div class="tab-content">
            <div id="storylines_{{title.TitleId}}" class="tab-pane fade">
                <hr />
                <ul data-ng-repeat="storyline in title.Storylines">
                    <li>{{storyline.Description}}</li>
                </ul>
            </div>
            <div id="participants_{{title.TitleId}}" class="tab-pane fade">
                <hr />
                <ul data-ng-repeat="participant in title.Participants">
                    <li>{{participant.Name}} - {{participant.RoleType}}</li>
                </ul>
            </div>
            <div id="keywords_{{title.TitleId}}" class="tab-pane fade">
                <hr />
                <div data-ng-repeat="word in title.Keywords">
                    <span>{{word}} </span>
                </div>
            </div>

            <div id="genres_{{title.TitleId}}" class="tab-pane fade">
                <hr />
                <div data-ng-repeat="word in title.Genres">
                    <span>{{word}} </span>
                </div>
            </div>

            <div id="awards_{{title.TitleId}}" class="tab-pane fade">
                <hr />
                <ul data-ng-repeat="award in title.Awards">
                    <li>{{award.AwardCompany}} for {{award.Award}} - {{award.AwardYear}} <span ng-show="{{award.AwardWon}}">(Nomination)</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>