﻿<div class="jumbotron" data-ng-app="app">
    <div ng-controller="titleController">
        <h2>Movie Search: </h2>
        <div class="row" style="width: 100%; margin-left: 10px;">
            <div class="span6" style="margin-bottom: 10px;">
                <div class="input-group">
                    <input type="text" class="form-control search" ng-model="searchTerm" ng-keyup="search()" placeholder="Search by title..." />
                    <span class="input-group-addon" ng-click="clear()">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </div>
            </div>
            <div class="span6" style="margin-bottom: 10px;">
                Find Images (uses OMDB api) <input type="checkbox" ng-model="showPoster" />
            </div>        
        </div>
        <span ng-if="isLoading">Loading...</span>
        <span ng-if="noRecordsFound">No Records Found.</span>
        <ul id="titleList" data-ng-repeat="title in titles" class="list-group" ng-cloak>
            <li class="list-group-item">
                @Html.Partial("_TitleResult")
            </li>
        </ul>
    </div> 
</div>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angularApp.js"></script>
<script src="~/Scripts/controllers/titleController.js"></script>
<script src="~/Scripts/services/titleService.js"></script>

